


table {
  border-collapse: collapse;
  width: 50%;               
  margin: 20px auto;
  margin-left: 0; margin-right: auto;
    text-align:center;  
}

th, td {
  border: 1px solid black;   
  border-collapse: collapse;         
       
}
