*{
    font-family: Arial, sans-serif;
  
}


.navbar{ 
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: rgb(37, 139, 167);
    justify-content:space-around;
    border-radius: 12px;
    padding: 14px 0;
    margin: 40px auto;

    max-width: 700px;
    
}

.navbar ul, .navbar li{
    display: flex;
    list-style: none;
    font-size: 18px;
    color: rgb(220, 233, 245);
    gap: 15px;
    
   
}
.navbar a{
    text-decoration: none;
    color: white;
    position: relative;
  
}
.navbar a:hover{
    color: black;
    background-color: white;
    border-radius: 3px;
    block-size: 23px;
}

iframe{
    width: 100%;
    height: 90vh;
}

table{
    border: 2px solid rgb(47, 70, 118);
       border-collapse: collapse;

       width: 60%;
       height: 300px;
       margin: auto;
       text-align: center;
}

table tr, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}

caption{
    width: 100%;
    height: 6vh;
    color: aliceblue;
    background-color: rgb(46, 86, 139);
    margin-bottom: 8px;
    margin-top: 15px;
    text-align: center;
    font-size: 25px;
}
.yellow{
    background-color: rgb(143, 165, 212);
    
}
.black{
    background-color: rgb(80, 105, 147);
}

.liststyle{
    list-style-type: square;
}
