
.navbar{ 
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: black;
    
}

.navbar ul, .navbar li{
    display: flex;
    list-style: none;
    font-size: 18px;
    color: rgb(220, 233, 245);
    gap: 15px;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.navbar a:hover{
    color: black;
    background-color: white;
    border-radius: 3px;
}
iframe{
    width: 100%;
    height: 90vh;
}

table{
    border: 2px solid black;
       border-collapse: collapse;

       width: 60%;
       height: 300px;
       margin: auto;
       text-align: center;
}

table tr, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}

caption{
    width: 100%;
    height: 6vh;
    color: aliceblue;
    background-color: black;
    margin-bottom: 8px;
    margin-top: 15px;
    text-align: center;
    font-size: 25px;
}
.yellow{
    background-color: yellow;
    
}
.black{
    background-color: black;
}

.liststyle{
    list-style-type: square;
}
