
.navbar{
    width: 100%;
    height: 10vh;
    background-color: rgb(17, 10, 1);
    margin-bottom: 28px;
}
.navbar ul, li{
    display: flex;
    float: left;
    list-style: none;
    gap: 20px;
    font-size: 20px;

}

.navbar a{

    text-decoration: none;
    color: rgb(243, 247, 250);
    font-size: 20px;
    padding-top: 10px ;
}

.navbar a:hover{
    color: rgb(1, 22, 15);
    background-color: rgb(252, 241, 241);
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}


iframe{
    float: right;
    width: 100%;
    height: 90vh;
}

caption{
    margin-top: 15px;
   
}
table{
    background-color: rgb(250, 250, 234);
    border: 2px solid black;
    margin: auto;
    width: 60%;
    height: 300px;
}
table, th, tr, td{
    border: 2px solid black;
border-collapse: collapse;
text-align: center;
font-size: 25px;
}

.content{
margin: auto;
width: 50%;
height: 450px;
background-color: rgb(218, 247, 252);
}

.formmake label, input, select, button{
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
    font-weight: 700;
}



button{
    color: aqua;
    background-color: black;
    border-radius: 4px;
    gap: 20px;
}

button:hover{
    color: rgb(1, 39, 39);
    background-color: rgb(15, 219, 151);
}