*{
    margin: 0;

}
.sidebar{
    background-color: aquamarine;
    height: 10vh;
    width: 100%;

}
.sidebar ul{}

.sidebar ul, li{
    display: flex;
    list-style: none;
    float: left;
    margin-left: 20px;
   padding-top: 10px;
}

.sidebar a{
    display: flex;
    text-decoration: none;
    font-size: 20px;
  
}

.sidebar a:hover{}

iframe{
    height: 100vh;
    width: 100%;
}

/* table design */


table{
    margin: auto;
    border: 2px solid black;
    height: 300px;
    width: 60%;

}

table, th, tr, td{
    border: 2px solid black;
    border-collapse: collapse;
}

.formmake{
    margin: auto;
    height: 400px;
    width: 60%;
}

.formm label, input, select, button{
    margin-top: 20px;
}