.Outbound {
  width: 400px;
  height: 400px;
  background-color: skyblue;
  opacity: 90%;
  border: 2px solid white;
  border-radius: 10px;
  margin: 0 auto;
}

.sub-header {
  justify-content: center;
  display: flex;
}

.details {
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

input {
  padding: 10px;
  width: 200px;
}
button {
  padding: 5px;
  width: 150px;
  height: 40px;
  margin-left: 30px;
  background-color: blue;
  color: white;
  border-color: white;
  font-size: 15px;
}

body {
  background-image: url("form.webp");
}

/* .header
{   color: rgb(209, 209, 254);
    background-color: rgb(11, 60, 92);
    font-size: 55px;
    justify-content: center;
    display: flex;
}

.image-grid
{   display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    place-items: center;
    margin-left: 90px;
    margin-right: 90px;
}

.image-grid img
{   display: block;
    width: 90%;
    height: auto;
    border-radius: 8px;

} */

.header
{
    justify-content: center;
    display: flex;
    background-color: black;
    color:white;
}

.slide img
{
    width: 800px;
    height: 450px;
    border-radius: 8px;
    margin-right: 7px;
}

.slide
{
    display: flex;
    animation: slider 10s linear infinite; 
}

@keyframes slider
{
    to {
        transform: translateX(-2000px);
    }
}

h1
{
    color: white;
    transition: color 0.2s ease;
}

h1:hover{
    color:blue;
}
*{margin: 0;}




