table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  width: 50%;
  height: fit-content;
  margin: auto;
}
caption {
  color: white;
  background-origin: padding-box;
  background-color: rgb(49, 44, 44);
}
#nav {
  background-color: rgb(2, 48, 50);
  width: 100%;
  height: 10vh;
  padding: 25px 30px;
}
#nav ul,
#nav li {
  list-style: none;
  float: left;
  margin: 13px 16px;
  color: white;
  font-size: 27px;
  text-align: center;
}
a {
  color: white;
}

form {
  max-width: 800px;
  margin: auto;
  padding: 10px;
  background: #b6edfc;
  border-radius: 10px;
}
label {
  display: block;
  margin: 20px 0 5px;
  font-weight: bold;
  font-size: 20px;
}
input{
  padding: 10px;
  border: 2px solid black;
  border-radius: 6px;
  margin-bottom: 8px;
}
#regform {
  background-color: hwb(0 62% 13%);
}
button{
  font-size: 18px;
  color: whitesmoke;
  padding: 10px 10px;
  background: rgb(50, 49, 49);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
*{margin: 0;}
