table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  width: 50%;
  height: fit-content;
  margin: auto;
}
caption {
  color: white;
  background-origin: padding-box;
  background-color: rgb(49, 44, 44);
}
#practiceNav {
  background-color: rgb(2, 48, 50);
  width: 100%;
  height: 10vh;
  padding: 25px 30px;
}
#practiceNav ul,
#practiceNav li {
  list-style: none;
  float: left;
  margin: 13px 16px;
  color: white;
  font-size: 27px;
  text-align: center;
}
#practiceNav a {
  text-decoration: none;
  color: white;
}

#reg {
  max-width: 700px;
  margin: auto;
  padding: 10px;
  background: #b6edfc;
  border-radius: 10px;
}
#contain label {
  display: block;
  margin: 12px 0 3x;
  font-weight: bold;
  font-size: 15px;
}
#contain input{
  padding: 8px;
  border: 2px solid black;
  border-radius: 6px;
  margin-bottom: 8px;
}

#contain button{
  font-size: 18px;
  color: whitesmoke;
  padding: 10px 10px;
  background: rgb(50, 49, 49);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
#regform {
  background-color: hwb(192 11% 53%);
}
*{margin: 0;}
.rega{
  text-decoration: none;
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
 
}