
.navbar{
    width: 10%;
    height: 100vh;
    background-color: rgb(126, 108, 84);
    float: right;
}
.navbar ul, li{
    list-style: none;
    gap: 15px;
    font-size: 18px;
}

.navbar a{
    display: flex;
    text-decoration: none;
    color: rgb(243, 247, 250);
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
}


.navbar a:hover{
    color: rgb(1, 22, 15);
    background-color: rgb(252, 241, 241);
    border-radius: 5px;
    text-align: left;
    padding: 5px;
}


iframe{
    background-color: rgb(134, 155, 153);
    float: left;
    width: 90%;
    height: 100vh;
}

caption{
    margin-top: 15px;
    width: 100%;
    height: 5vh;
    text-align: center;
    background-color: rgb(0, 17, 11);
    color: rgb(247, 230, 230);
    margin-bottom: 8px;
   
}
table{
    background-color: rgb(245, 245, 236);
    border: 2px solid black;
    margin: auto;
    width: 60%;
    height: 300px;
}
table, th, tr, td{
    border: 2px solid black;
border-collapse: collapse;
text-align: center;
font-size: 25px;
}

.content{
padding-top: 25px;
margin: auto;
width: 50%;
height: 450px;
background-color: rgb(186, 245, 247);
border-radius: 7px;
border-color: black;
}

.formmake label, input, select, button{
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
    font-weight: 700;
}



button{
    color: aqua;
    background-color: black;
    border-radius: 4px;
    gap: 20px;
}

button:hover{
    color: rgb(1, 39, 39);
    background-color: rgb(16, 168, 238);
}